<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-appinfo-sync" version="0.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>AppInfo Sync</name>
  <description>Plugin to fetch information of the application for synchronously.</description>
  <author>phi</author>
  <license>MIT</license>
  <keywords>cordova,plugin,application</keywords>
  <repo>https://github.com/phi-jp/cordova-plugin-appinfo-sync</repo>
  <issue>https://github.com/phi-jp/cordova-plugin-appinfo-sync/issues</issue> 

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  
  <js-module src="www/appinfosync.js">
    <clobbers target="cordova.appInfoSync" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AppInfoSync">
        <param name="android-package" value="jp.phi.cordova.plugin.appinfosync.AppInfoSync"/>
      </feature>
    </config-file>
    <source-file src="src/android/AppInfoSync.java" target-dir="src/jp/phi/cordova/plugin/appinfosync" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <plugins-plist key="AppInfoSync" string="AppInfoSync" />

    <config-file target="config.xml" parent="/*">
      <feature name="AppInfoSync">
        <param name="ios-package" value="AppInfoSync" />
      </feature>
    </config-file>

    <header-file src="src/ios/AppInfoSync.h" />
    <source-file src="src/ios/AppInfoSync.m" />
  </platform>
</plugin>